.git {
    wright: 50px;
    height: 120px;
    border: 1px black dashed;
    text-align: center;
    margin: 50px;
    padding: 50px;

}
a{

    text-align: center;
    color: orangered;
    text-decoration: none;
}
p {
	color: red;
}